*.ign

# Ignore butane configs ending in `-passwd`, as these are fragments with user
# definitions in them that include password hashes.
*-passwd.bu
*-passwd.butane

*.env

# Ansible vaults
ansible/**/*vault*
ansible/**/.*vault*

# Encrypted files are okay, though
!ansible/**/vault.yml

# Private Ansible variables
ansible/pihole-wfh-vars.yml
