# vim: ft=systemd

[Unit]
Description=Linkwarden Container

Requires=linkwarden-db.container linkwarden-search.container
After=linkwarden-db.container linkwarden-search.container

[Service]
Restart=on-failure

[Container]
Image=ghcr.io/linkwarden/linkwarden:v2.14.0
Pod=linkwarden.pod
Volume=/var/mnt/media/links/linkwarden/data:/data/data

Secret=linkwarden-nextauth-secret,type=env,target=NEXTAUTH_SECRET
Secret=linkwarden-meili-key,type=env,target=MEILI_MASTER_KEY
Secret=linkwarden-db-password,type=env,target=POSTGRES_PASSWORD
EnvironmentFile=./linkwarden.env

HealthInterval=1m
HealthRetries=5
HealthTimeout=5s
HealthStartPeriod=10s
HealthCmd=curl --silent --fail http://localhost:3000/

[Install]
WantedBy=default.target
