# vim: ft=systemd

[Unit]
Description=Linkwarden Database Container

Requires=var-mnt-media.mount
After=var-mnt-media.mount

[Service]
Restart=on-failure

[Container]
Image=docker.io/library/postgres:16
Pod=linkwarden.pod
User=999
Group=999

Volume=linkwarden-db.volume:/var/lib/postgresql/data
Secret=linkwarden-db-password,type=env,target=POSTGRES_PASSWORD

Notify=healthy
HealthOnFailure=stop
HealthInterval=10s
HealthRetries=5
HealthTimeout=10s
HealthStartPeriod=5s
HealthCmd=pg_isready -U postgres -d linkwarden
