[Unit]
Requires=stoat-database.service stoat-redis.service
After=stoat-database.service stoat-redis.service

[Container]
Image=ghcr.io/revoltchat/bonfire:20250930-2
Pod=stoat.pod
Volume=./Revolt.toml:/Revolt.toml

[Service]
Restart=always
