# vim: ft=systemd

[Unit]
Description=Back up Uptime Kuma volume data
Before=resticprofile.service

[Container]
Image=ct-utils.build
Exec=/backup.sh

Volume=./backup.sh:/backup.sh:ro,Z
Volume=%h/backup:/backup:z
Volume=uptime-kuma.volume:/data

[Install]
WantedBy=resticprofile.service
