# vim: ft=systemd

[Unit]
Description=Forget (and maybe prune) snapshots in the '%i' restic repository monthly

[Timer]
Unit=resticprofile-%i@forget.service
OnCalendar=monthly
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
