# vim: ft=systemd

[Unit]
Description=LubeLogger Vehicle Maintenence Tracker Container

[Container]
Image=ghcr.io/hargata/lubelogger:v1.5.3
PublishPort=8100:8080
Environment=LC_ALL=en_US.UTF-8 LANG=en_US.UTF-8
Volume=lubelogger-data.volume:/App/data
Volume=lubelogger-keys.volume:/root/.aspnet/DataProtection-Keys

[Install]
WantedBy=default.target
