# vim: ft=yaml.ansible

- name: Set up a Project Zomboid Dedicated Server
  hosts: zomboid.lan
  remote_user: root
  vars_files:
    - pzserver/settings.yml
  vars:
    game:
      name: Project Zomboid
      app_id: 380870
      branch: unstable
      install_dir: "{{ (server_user.home, 'pzserver') | path_join }}"
      data_dir: /var/lib/zomboid
      config_file: "{{ (game.data_dir, 'Server', server.name ~ '.ini') | path_join }}"
    server:
      name: dzpz
      max_players: 6
      map: Echo Creek, KY
      admin_password: !vault |
          $ANSIBLE_VAULT;1.2;AES256;dzselfhost
          37623133616436373837366435636537643862363065626464353233663439363737323932313963
          3832643035353962373831323430323430393738363636300a366136663031666235363833316464
          30656630303635333839633532376664633065653939643036326130643362366430653333653834
          3762623230326165330a633961333232626336323335376137343233643165323037623134353339
          35323631383138333437326631316237656639653935663338623134306638623231656566373364
          6337336530333231383639623564326630623436613635386335
    systemd:
      verify: false # Need to copy stop-script first
      unit_prefix: pzserver
      service_file: "{{ ('pzserver', systemd.unit_prefix) | path_join }}.service"
      extra_units:
        - "{{ ('pzserver', systemd.unit_prefix) | path_join }}.socket"
      fifo_path: "/run/{{ systemd.unit_prefix }}_fifo"
      ld_library_path:
        - linux64
        - natives
        - '' # Working directory
        - jre64/lib
  roles:
    - steamcmd
  tasks:
    - name: Copy pzserver-stop.sh to server user home
      ansible.builtin.template:
        src: pzserver/pzserver-stop.sh.j2
        dest: "{{ (server_user.home, 'pzserver-stop.sh') | path_join }}"
        owner: "{{ server_user.name }}"
        group: "{{ server_user.name }}"
        mode: "0750"
      tags: systemd

    - name: Link server-console.txt to /dev/null
      ansible.builtin.file:
        src: /dev/null
        dest: "{{ (game.data_dir, 'server-console.txt') | path_join}}"
        state: link

    - name: Verify systemd units
      ansible.builtin.command:
        cmd: systemd-analyze verify {{ item }}
      loop:
        - "/etc/systemd/system/{{ systemd.service_file }}"
        - "/etc/systemd/system/{{ systemd.extra_units[0] }}"
      changed_when: false
      tags: systemd

    - name: Set JVM Options
      ansible.builtin.lineinfile:
        path: "{{ (game.install_dir, 'ProjectZomboid64.json') | path_join }}"
        search_string: "\"-XX:\\+{{ item }}\","
        line: "\t\t\"-XX:+{{ item }}\","
        insertbefore: 'OmitStackTraceInFastThrow'
        owner: "{{ server_user.name }}"
        mode: "0664"
      loop:
        - ZGenerational
        - PerfDisableSharedMem
      tags: settings

    # HACK: The Zomboid server writes the config without a trailing newline.
    # This makes ini_file tasks report a dubious "changed" status since it has
    # to append one. We can preemptively write one ourselves to avoid that.
    - name: Server settings trailing newline hack
      tags: settings
      block:
        - name: Ensure server settings file exists
          ansible.builtin.stat:
            path: "{{ game.config_file }}"
          register: stat_settings

        - name: Ensure server settings file has trailing newline
          ansible.builtin.shell: |
            set -eo pipefail
            tail -c1 {{ game.config_file }} | read -r _ || echo >> {{ game.config_file }}
            sha1sum {{ game.config_file }} | cut -d ' ' -f 1
          register: ensure_newline
          changed_when: ensure_newline.stdout != stat_settings.stat.checksum
          when: stat_settings.stat.exists

    - name: Configure server settings
      community.general.ini_file:
        path: "{{ game.config_file }}"
        option: "{{ item.key }}"
        value: "{{ item.value is boolean | ternary((item.value | string).lower(), item.value) }}"
        create: true
        no_extra_spaces: true
        mode: '0640'
        owner: "{{ server_user.name }}"
        group: "{{ server_user.name }}"
      with_dict: "{{ server_settings }}"
      loop_control:
        label: "{{ item.key }}"
      tags: settings
